/* Weather Card Styles */
.expanded-weather-card {
  transition: 0.2s ease;
  padding: 10px;
}

.expanded-weather-card:hover {
  background-color: var(--background_hover);
  cursor: pointer;
  border-radius: 0.5rem;
  scale: 1.03;
}

/* Weather Card Text Styles */
.expanded-weather-card h3 {
  color: var(--text_primary);
}

.expanded-weather-card .description {
  color: var(--text_secondary);
}

.expanded-weather-card .temp-max {
  font-size: 3.5rem;
  color: var(--text_primary);
}

.expanded-weather-card .temp-min {
  font-size: 2rem;
  color: var(--text_secondary);
}

.expanded-weather-card .detail-value {
  color: var(--text_primary);
}

.expanded-weather-card .detail-label {
  font-size: 0.8rem;
  color: var(--text_secondary);
  margin-top: -0.2rem !important;
}

/* Weather Card Icon Styles */
.expanded-weather-card .weather-icon {
  width: 150px;
}

.expanded-weather-card .detail-icon {
  height: 20px;
  width: 20px;
}

.expanded-weather-card .detail-icon * {
  fill: var(--text_primary);
  stroke: var(--text_primary);
}

.expanded-weather-card .rain-drop {
  height: 18px;
  width: 18px;
  margin-bottom: 2px;
}

.expanded-weather-card .warning-icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}