:root {
  --background: #FFFFFF;
  --background_hover: #ECF4FA75;
  --text_primary: #22272B;
  --text_secondary: #4B4F52;
  --yellow: #FCD100;
  --orange: #EA9500;
  --red: #FC3B00;

  --body_width: 400px;
  --body_height: 600px;
}

[data-theme="light"] {
  --background: #FFFFFF;
  --background_hover: #ECF4FA75;
  --text_primary: #22272B;
  --text_secondary: #7b7b7b;
}

[data-theme="dark"] {
  --background: #22272B;
  --background_hover: #1A1C1E70;
  --text_primary: #FFFFFF;
  --text_secondary: #7b7b7b;
}

body {
  margin: 0;
  display: flex;
  place-items: center;

  background-color: #FFFFFF;
  color: var(--text_primary);

  max-width: var(--body_width);
  max-height: var(--body_height);
}